<div class="clearfix">
  <div class="form-actions col-md-6 col-md-offset-2 small-gutter">
    <% if step == :preliminary %>
      <%= link_to _("Cancel"), containers_path, :class => "btn btn-danger" %>
    <% else %>
      <a class="btn btn-default" href="<%= previous_wizard_path %>">
        <%= _("Previous Step") %>
      </a>
    <% end %>

    <%= button_tag(:id => 'next', :type => 'submit', :class => "btn btn-primary") do %>
      <% if last_step? %>
        <%= _("Submit") %>
      <% else %>
        <%= _("Next Step") %>
      <% end %>
    <% end %>
  </div>
</div>
