<div class="clearfix">
  <div class="form-actions">
    <% if step == :preliminary %>
      <%= link_to _("Cancel"), containers_path, :class => "btn btn-danger" %>
    <% else %>
      <a class="btn btn-default" href="<%= previous_wizard_path %>">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <%= _("Back") %>
      </a>
    <% end %>
    <% next_id = defined?(registry) ? "next_#{registry}" : "next" %>
    <%= button_tag(:id => next_id, :type => 'submit', :class => "btn btn-primary pull-right") do %>
      <% if last_step? %>
        <%= _("Submit") %>
      <% else %>
        <%= _("Next") %>
        <span class="glyphicon glyphicon-chevron-right"></span>
      <% end %>
    <% end %>
  </div>
</div>
