<%- model = model_for(registry) %>
<%= form_for model, :namespace => registry,
  :class => 'form-horizontal',
  :url => wizard_path,
  :method => :put,
  :html => {:data => {:registry => registry}} do |f| %>

  <% model.errors.messages.each do |field, field_errors| %>
    <div class="alert alert-danger">
      <span class="pficon pficon-error-circle-o"></span>
      <ul>
        <% field_errors.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if registry == "registry" -%>
      <%= select_registry f %>
  <% end -%>

  <% help_type = f.object.errors[:repository_name].present? ? :help_block : :help_inline %>
  <%= text_f(f, :repository_name,
    :label => _('Search'),
    :wrapper_class => (image_search_wrapper_class(model) if tab_active?(registry)),
    :'data-url'  => search_repository_image_search_path(model.compute_resource_id),
    :value       => f.object.repository_name.present? ? f.object.repository_name : '',
    :'data-registry' => registry,
    :'data-image' => true,
    :'data-min-length' => 1,
    :focus_on_load => true,
    :placeholder => _('Find your favorite container, e.g. centos'),
    :control_group_id => "#{registry}_image_search",
    :help_inline => spinner('', class: 'hide autocomplete-status')) %>

  <%= text_f f, :tag,
    :control_group_id => "#{registry}_tag_search",
    :'data-registry' => registry,
    :'data-tag' => true,
    :'data-min-length' => 0,
    :'data-url' => search_repository_image_search_path(model.compute_resource_id),
    :help_inline => spinner('', class: 'hide autocomplete-status') %>

  <div class="col-md-6 col-md-offset-2 small-gutter">
    <%= link_to(icon_text('search', _('Search for images')), "#",
          :id => "search_repository_button_#{registry}",
          :class => 'image-search-button btn btn-default',
          :'data-registry' => registry,
          :'data-url' => search_repository_image_search_path(model.compute_resource_id)) %>
  </div>

  <div class="registry-search-results col-md-12">
    <div data-search-spinner=true class='col-md-offset-3 hide'>
      <span data-wait-text=true>
      </span>
      <%= spinner('') %>
    </div>
    <div class="registry-search-results-list">
    </div>
  </div>
  <%= render :partial => 'form_buttons', locals: { :registry => registry} %>
<% end -%>
