<%- model = model_for(registry) %>
<%= form_for model, :namespace => registry,
  :class => 'form-horizontal',
  :url => wizard_path,
  :method => :put,
  :html => {:data => {:registry => registry}} do |f| %>
  <% if registry == "registry" -%>
    <div class="input-group col-md-6">
      <%= select_registry f %>
    </div>
  <% end -%>

  <div class="form-group">
    <div class='row'>
      <% help_type = f.object.errors[:repository_name].present? ? :help_block : :help_inline %>
      <%= text_f(
        f,
        :repository_name,
        :label => _('Search'),
        :size => 'col-md-6',
        :'data-url'  => auto_complete_repository_name_image_search_path(model.compute_resource_id),
        :value       => f.object.repository_name.present? ? f.object.repository_name : '',
        :'data-registry' => registry,
        :'data-search' => true,
        :focus_on_load => true,
        :placeholder => _('Find your favorite container, e.g. centos'),
        help_type => link_to_function(
            icon_text('search', ''),
            'searchRepo(this)',
            :class => 'btn btn-default',
            :id => "search_repository_#{registry}",
            :'data-registry' => registry,
            :'data-url' => search_repository_image_search_path(model.compute_resource_id)
          ) + content_tag(:span, '', :id => 'image-confirmation').html_safe) %>
    </div>
    <div class='row'>
      <%= text_f f, :tag,
        :'data-registry' => registry,
        :'data-tag' => true,
        :'data-url' => auto_complete_image_tag_image_search_path(model.compute_resource_id) %>
    </div>
  </div>

  <div class="col-md-12">
    <div data-search-spinner=true class='col-md-offset-3 hide'>
      <span data-wait-text=true>
      </span>
      <%= spinner('', :id => "loading_repositories_indicator_#{registry}") %>
    </div>
    <div data-repository-search-results=true >
    </div>
  </div>
  <%= render :partial => 'form_buttons', locals: { :registry => registry} %>
<% end -%>
