<%= render :layout => 'title', :locals => { :step => 3 } do %>
  <%= form_for @container, :url => wizard_path, :method => :put do |f| %>
    <h3><%= _("Basic options") %></h3>
    <%= text_f f, :name,       :size => 'col-md-4' %>
    <%= text_f f, :command,    :size => 'col-md-4' %>
    <%= text_f f, :entrypoint, :size => 'col-md-4', :placeholder => '/bin/sh -c by default' %>
    <hr>
    <h3><%= _("Compute options") %></h3>
    <%= text_f f, :cpu_set, :class => "col-md-2", :label => _('CPU sets'),
      :placeholder => '0-2,16 represents CPUs 0, 1, 2, and 16.',
      :help_block => link_to(_("learn more about CPU sets"), 'http://docs.fedoraproject.org/en-US/Fedora/17/html/Resource_Management_Guide/sec-cpuset.html') %>
    <%= text_f f, :cpu_shares, :class => "col-md-2", :label => _('CPU shares'),
      :placeholder => 'relative share of CPU time in cgroup',
      :help_block => link_to(_("learn more about CPU shares"), 'http://docs.fedoraproject.org/en-US/Fedora/17/html/Resource_Management_Guide/sec-cpu.html') %>
    <%= text_f f, :memory, :class => "col-md-2", :label => _('Memory'), :placeholder => '512m limits container memory usage to 512 MB' %>
    <%= render :partial => 'form_buttons' %>
  <% end %>
<% end %>
