<%= render :layout => 'title', :locals => { :step => 4 } do %>
  <%= form_for @docker_container_wizard_states_environment, :url => wizard_path, :method => :put do |f| %>
    <div class='row'>
      <div class='col-md-6 col-md-push-7'>
        <h3><%= _("Shell") %></h3>
        <%= checkbox_f f, :tty, :help_inline => _('Allocate a pseudo-tty'), :label => _('TTY') %>
        <%= checkbox_f f, :attach_stdin,  :label => _('Attach STDIN') %>
        <%= checkbox_f f, :attach_stdout, :label => _('Attach STDOUT') %>
        <%= checkbox_f f, :attach_stderr, :label => _('Attach STDERR') %>
      </div>
      <div class='col-md-6 col-md-pull-6'>
        <h3><%= _("Environment variables") %></h3>
        <%= render 'foreman_docker/common_parameters/environment_variables', :f => f %>
        <h3><%= _("Exposed Ports") %></h3>
        <%= render 'foreman_docker/common_parameters/exposed_ports', :f => f %>
        <h3><%= _("DNS") %></h3>
        <%= render 'foreman_docker/common_parameters/dns', :f => f %>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-6">
        <label class="col-md-2"><%= _('Run ?') %></label>
	<div class="col-md-4">
	  <%= check_box_tag(:start_on_create) %>
	  <%= content_tag(:span, _('If selected, the container will start after it is created'), :class => "help-block").html_safe %>
	</div>
      </div>
    </div>
   <%= render :partial => 'form_buttons' %>
  <% end %>
<% end %>
