<%= javascript 'foreman_docker/image_step' %>
<%= stylesheet 'foreman_docker/autocomplete' %>

<%= render :layout => 'title', :locals => { :step => 2 } do %>
    <ul class="nav nav-tabs" data-tabs="tabs">
      <% if defined? Katello -%>
        <li class="<%= tab_class(:katello)%>"><a href="#katello" data-toggle="tab" id="katello_tab">
          <span class="glyphicon glyphicon-tower"></span>
          <%= _("Content View") %>
        </a></li>
      <% end -%>

      <li class='<%= tab_class(:hub) %>'><a href="#hub" data-toggle="tab" id="hub_tab">
        <span class="glyphicon glyphicon-cloud-download"></span>
        <%= _("Docker hub") %>
      </a></li>
      <li class='<%= tab_class(:registry) %>'><a href="#registry" data-toggle="tab" id="registry_tab">
        <span class="glyphicon glyphicon-cloud-download"></span>
        <%= _("External registry") %>
      </a></li>
    </ul>
    <div class="tab-content">
      <% if defined?(Katello) -%>
        <div class='tab-pane <%= tab_class(:katello) %>' id="katello">
          <%= form_for model_for("katello"), :namespace => "katello",
                                             :class => 'form-horizontal',
                                             :url => wizard_path,
                                             :method => :put do |f| %>
              <%= katello_partial(f) %>
              <%= render :partial => 'form_buttons', locals: { :registry => "katello"} %>
          <% end -%>
        </div>
      <% end -%>
      <div class='tab-pane <%= tab_class(:hub) %>' id="hub">
        <%= render :partial => 'image_hub_tab' , locals: { :registry => "hub" }  %>
      </div>
      <div class='tab-pane <%= tab_class(:registry) %>' id="registry">
        <%= render :partial => 'image_hub_tab' , locals: { :registry => "registry"}  %>
      </div>
    </div>
<% end %>
