<%= javascript 'foreman_docker/image_step' %>
<%= stylesheet 'foreman_docker/autocomplete' %>
<%= render :layout => 'title', :locals => { :step => 2 } do %>
  <%= form_for @container, :url => wizard_path, :method => :put do |f| %>

  <ul class="nav nav-tabs" data-tabs="tabs">
    <li class="active"><a href="#primary" data-toggle="tab">
      <span class="glyphicon glyphicon-cloud-download"></span>
      <%= _("Docker hub") %>
    </a></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="hub">
      <div class="input-group col-md-6">
        <%= auto_complete_search(:image, '',
                                 :'data-url'  => auto_complete_image_container_path(@container),
                                 :value       => f.object.image.present? ? f.object.image.image_id : '',
                                 :id          => :search,
                                 :placeholder => _('Find your favorite container, e.g: centos:latest')) %>
        <span class="input-group-addon glyphicon" id="search-addon"></span>
        <span class="input-group-btn">
          <%= button_tag(:class => 'btn btn-default',
                         :type => 'button',
                         :onclick => "$('#search').trigger('focus')") do %>
            <span class="glyphicon glyphicon-search"></span>
            <%= _("Search") %>
          <% end %>
        </span>
      </div>
      <br/>
      <div class="input-group col-md-6">
        <%= text_f f, :tag,
                      :size       => 'col-md-6',
                      :value      => f.object.tag.present? ? f.object.tag.tag : '',
                      :id         => 'tag',
                      :'data-url' => auto_complete_image_tags_container_path(@container) %>
      </div>
      <hr/>
      <%= render :partial => 'form_buttons' %>
    </div>
  </div>

  <% end %>
<% end %>
