<%= render :layout => 'title', :locals => { :step => 1 } do %>
<%= form_for @docker_container_wizard_states_preliminary, :url => wizard_path, :method => :put do |f| %>
  <ul class="nav nav-tabs" data-tabs="tabs">
    <li class="active"><a href="#primary" data-toggle="tab">
      <span class="glyphicon glyphicon-tasks"></span>
      <%= _("Compute resource") %>
    </a></li>
    <% Taxonomy.enabled_taxonomies.each do |taxonomy| %>
      <li><a href="#<%= taxonomy %>" data-toggle="tab">
        <span class="glyphicon glyphicon-<%= taxonomy_icon(taxonomy) %>">
        </span>
        <%= _(taxonomy.humanize) %>
      </a></li>
    <% end %>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="primary">
      <% if @container_resources.present? %>
        <h3><%= _("Resource selection") %></h3>
        <%= _("Where do you want to deploy your container?:") %>
        <hr>
        <%= select_f f, 'compute_resource_id', @container_resources, :id, :to_label, {}, { :label => _('Deploy on') } %>
      <% else %>

        <div class="alert alert-warning alert-dismissable">
          <%= image_tag 'false.png' %> <%= (_("You need a Docker compute resource in order to create containers. Please %s and try again.") % link_to('add a new one', new_compute_resource_path)).html_safe %>
        </div>
      <% end %>
    </div>
    <%= render "taxonomies/loc_org_tabs", :f => f, :obj => @docker_container_wizard_states_preliminary %>
  </div>
  <% if @container_resources.present? %>
    <%= render :partial => 'form_buttons' %>
  <% end %>
<% end %>
<% end %>
