<% images.each do |image| %>
    <h3><%= link_to image['name'], '#', :onclick => 'imageSelected(this)' %></h3>
    <p>
      <%= '<span class="glyphicon glyphicon-certificate" title="Official"></span>'.html_safe if image['is_official'] %>
      <%= '<span class="glyphicon glyphicon-thumbs-up" title="Trusted"></span>'.html_safe    if image['is_trusted'] %>
      <span class="glyphicon glyphicon-star"></span> <%= image['star_count'] %>
    </p>
    <p>
      <%= trunc(image['description']) %>
      <%= link_to '<span class="glyphicon glyphicon-share"></span>'.html_safe, hub_url(image), :target => '_blank' %>
    </p>
<% end %>
