<% title _("Registries") %>

<% if authorized? %>
    <% title_actions button_group(link_to_if_authorized _("New Registry"), hash_for_new_registry_path,
                                                        :class => 'btn-success' ) %>
<% end %>

<table class="table table-bordered table-striped table-condensed" data-table="inline">
  </thead>
  <tr>
    <th class="text-center"><%= sort :name, :as => _("Name") %></th>
    <th class="hidden-tablet hidden-xs text-center"><%= sort :url, :as => _("Url") %></th>
    <th class="hidden-tablet hidden-xs text-center"><%= _("Description") %></th>
    <th><%= _('Actions') %></th>
  </tr>
  </thead>

  <% @registries.each do |r| %>
      <tr>
        <td><%= link_to_if_authorized trunc_with_tooltip(r.name), hash_for_edit_registry_path(:id => r).merge(:auth_object => r, :authorizer => authorizer) %></td>
        <td class="hidden-tablet hidden-xs text-center"><%= trunc_with_tooltip(r.url) %></td>
        <td class="hidden-tablet hidden-xs text-center"><%= trunc_with_tooltip(r.description) %></td>
        <td><%= action_buttons(
          display_delete_if_authorized hash_for_registry_path(:id => r).
          merge(:auth_object => r, :authorizer => authorizer),
          :confirm => _("Delete %s?") % r.name) %></td>
      </tr>
  <% end %>
</table>

<%= will_paginate_with_info @registries %>
